<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find urdf_tutorial)/urdf/01-base-nowheel.urdf"/>
     <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
     
     <arg name="x" default="0"/>
     <arg name="y" default="0"/>
     <arg name="z" default="0.5"/>

     <node name="myrobot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args=" -urdf -param robot_description -model mybot -x $(arg x) -y $(arg y) -z $(arg z)" />
</launch>
