<launch>

 <include file="$(find bill_navigation)/launch/Componentes/bill_sensors.launch" />
 <include file="$(find bill_navigation)/launch/amcl.launch" />
 <!--include file="$(find bill_navigation)/launch/path_planning.launch" /-->
 <include file="$(find rbx1_bringup)/launch/fake_turtlebot.launch" />
 <include file="$(find bill_navigation)/launch/Componentes/bill_move_base.launch" /> 
 <include file="$(find bill_navigation)/launch/Componentes/bill_arduino.launch" />
 

</launch>
