<launch>
  <!-- RUN move_base server -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_bill" output="screen" clear_params="true">
    <rosparam file="$(find bill_navigation)/config/bill_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find bill_navigation)/config/bill_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find bill_navigation)/config/bill_config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find bill_navigation)/config/bill_config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find bill_navigation)/config/bill_config/base_local_planner_params.yaml" command="load" />
  </node>


</launch>
