<launch>
	
	
	<include file="$(find bill_navigation)/launch/start_bill_control.launch" />

	<!-- <include file="$(find bill_navigation)/launch/bill_odometry.launch" /> -->

	<!-- for joystick -->
	<include file="$(find bill_navigation)/launch/joystick_teleop.launch" />


	<!--for keyboard -->
	<!--<include file="$(find bill_navigation)/launch/keyboard_teleop.launch" />-->


</launch>
