<launch>
	<!--include file="$(find bill_navigation)/launch/start_bill_control.launch"/-->
	<!--include file="$(find rplidar_ros)/launch/rplidar.launch"/-->
        <!--include file="$(find bill_navigation)/launch/Componentes/bill_sensors.launch" /-->
	<!--include file="$(find bill_navigation)/launch/path_planning.launch" /-->


	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
	<!-- TurtleBot3 -->
  	<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    	<arg name="model" value="$(arg model)" />
  	</include>

	<include file="$(find bill_navigation)/launch/Componentes/bill_gmapping.launch"/>
	
	
	<node pkg="rviz" type="rviz" name="rviz_bill" args="-d $(find bill_navigation)/rviz/gmapping.rviz" />
	
	<!--node pkg="rosbag" type="record" name="record_map" 
		args="-o $(find bill_navigation)/bagfiles/map_slam/scan_data /scan /tf"
	/-->
</launch>